.container-profile {
  text-align: center;
  width: 80%;
  height: fit-content;
  left: 25%;
  right: 25%;
}

.div-city {
  display: 'flex;';
  flex-direction: row;
  align-items: center;
}

.form-item {
  display: 'flex';
  flex-direction: 'column';
}

fieldset {
  overflow: hidden;
}

.some-class {
  float: left;
  clear: none;
}

label {
  float: left;
  clear: none;
  display: flex;
  padding: 1px 4em 1.75em 1.8em;
}

input[type='radio'],
input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}

#profilebuttons{
  display: inline-block;
  background-color: #3184db;
  /* border-radius: 5px; */
  /* border: 4px double #cccccc; */
  border: 4px;
  border-radius: 25px;
  color: #eeeeee;
  text-align: center;
  font-size: 17px;
  font-family: 'Nunito';
  padding: 10px;
  width: 200px;
  /* -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s; */
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3px;
}

#h1Edit{
  
  font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
    color: black;
}