.social-container{
    background: #eee;
    padding: 25px 50px;

}


a.social{
    margin:  1rem;
    transition: transform 250ms;
    display: inline-block;
    color: #2098f3;
    position: right;

}
a.social:hover{
    transform: translate(-2px);
}

.center{
    text-align: center;
}
/* a.youtube{
    color: #eb3223;
}
a.facbook{
    color: #4968ad;
}
a.twitter{
    color: #49a1eb;
}
a.instagram{
    color: black;
} */